
  <div class="nav-bar">
    <h1>If you're bored to play alone !</h1>
      <i class="fas fa-users">
        <%= link_to "Bored Games", root_path %>
      </i>
      <div class="user-nav">
        <%= link_to "Create a player", new_player_path, class: "player-create" %>
        <% if current_user %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", profile_path %>
        <% end %>
        <%= link_to profile_path do %>
          <%= image_tag "https://eu.ui-avatars.com/api/?name=Captain+Price", class: "user-avatar" %>
        <% end %>
      </div>
  </div>
