<h1>Bow to me, the incredible <%= @player.nickname %></h1>

<p>I am awesome at : </p>
<p><%= @player.category %></p>
<p>More about me, the very awesome <%= @player.nickname %>, also known as  <%= link_to @player.user.name, profile_path(@player.id) %> </p>
<p><%= @player.user.bio %></p>
<%= link_to "Réservez moi! ❤" , new_player_event_path(@player.id) %> 