<h1>Bow to me, the incredible <%= @player.nickname %></h1>

<p>I am awesome at : </p>
<p><%= @player.category %></p>
<p>More about me, the very awesome <%= @player.nickname %>, also known as <%= @player.user.name %> </p>
<p><%= @player.user.bio %></p>
<%# <%= link_to "Réservez moi! ❤" , blabla_path %> 