<h1>Bow to me, the incredible <%= @player.nickname %></h1>

<p>I am awesome at : </p>
<p><%= @player.category %></p>
<p>More about me, the very awesome <%= @player.nickname %>, also known as  <%= link_to @player.user.name, user_path(@user) %> </p>
<% if @player.user != current_user %>
<%= link_to "Book me â¤" , new_player_event_path(@player), data: { turbolinks: 'false' } %><p>for the low, low price of <%= @player.price %> euros!</p>
<% else %>
<%= link_to "My upcoming game nights ðŸŽ²" , profile_path %>
<% end %>
